<div>
    <h1>Bienvenido!:</h1>
    <h2>Usuario logueado con éxito</h2>
    <div>
        <p>Nombre: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Rol: {{user.rol}}</p>
    </div>
    <button id="logout">Cerrar sesión</button>
</div>
<script src="/js/logout.js"></script>