<div>
    <h1>El usuario o la contraseña son incorrectos, intentalo nuevamente</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br />
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <a href="/api/sessions/github"><button>Autenticarse con GitHub</button></a>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>